<div class="container">
  <div class="row">
    <div class="col-md-12 center-block">
        <div class="row options">
            <div class="col-md-3">
                <h3>Sort by</h3>
                <select class="form-control" (change)="selectedSort($event)">
                  <option *ngFor="let sortName of sortBy">{{ sortName }}</option>
                </select>
            </div>
            <div class="col-md-3">
                <h3>Filter by name</h3>
                  <div class="form-group">
                      <input type="text" class="form-control" id="filter"
                             placeholder="Filter by name">
                  </div>
            </div>
            <div class="col-md-3">
                <h3>Total Info</h3>
                <select class="form-control" [ngModel]="selectedChoice"
                        (change)="selectedTotal($event)">
                  <option *ngFor="let totalItem of totalBy">{{ totalItem }}</option>
                </select>
            </div>
            <div class="col-md-3 total">
                {{ selectedChoice }}
            </div>
        </div>
     <table class="table table-hover table-bordered">
        <thead>
        <tr>
             <th *ngFor="let headers of tableItems">{{ headers }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let userId = index" [routerLink]="['/list', userId]">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td><img src="{{user.avatar}}" alt="avatar" class="img-rounded"></td>
            <td>{{user.age}}</td>
            <td>{{user.city}}</td>
            <td>{{user.sex}}</td>
        </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
